@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    align-items: center;
    background-color: #2C2B28;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    font-size: 25px;
}

#logo:hover {
    color: #ffa000;
}

ul {
    transform: rotate(180deg);
}

ul>li {
    transform: rotate(-180deg);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-item {
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #ffa000;
    transition: 0.5s;
}

main {
    height: 750px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./mainPhoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

main h1 span {
    font-weight: 200;
    font-size: 50px;
}

main h2 {
    font-weight: 300;
}

main h3 {
    font-size: 24px;
}

.talk-with-us {
    border: #ffa000 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    margin: 20px;
    padding: 10px 25px;
}

.talk-with-us:hover {
    background-color: rgba(1, 1, 1, 0.4);
}

.more-details {
    background-color: #ffa000;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
}

.more-details:hover {
    opacity: 0.9;
}

.fa-arrow-circle-down {
    color: white;
}

main h5 {
    padding: 15px;
    line-height: 1.5;
}

main h5 span {
    background-color: #fda000;
    color: #000;
}

h6 {
    font-size: 18px;
}

.send-mail {
    margin: 0;
}

.send-mail button {
    background-color: #ffa000;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    margin: 5px;
}

.send-mail input {
    padding: 10px 25px;
    background-color: #D2CFCD;
    border-radius: 5px;
    color: gray;
    direction: rtl;
    margin: 5px;
}

.fa-hand-point-right {
    position: absolute;
    top: 600px;
    left: 600px;
}